<template>
  <transition name="fade" appear>
    <div
      class="toastbox"
      :style="{
        backgroundColor: color,
        borderColor: color,
      }"
      @click="onClick"
      @mouseenter="onMouseEnter"
      @mouseleave="onMouseLeave"
    >
      {{ message }} {{ id }}
    </div>
  </transition>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "ToastBox",
  props: {
    id: Number,
    duration: Number,
    message: String,
    color: String,
  },
  mounted() {
    this.setTimer({
      id: this.id,
      duration: this.duration,
    });
  },
  methods: {
    ...mapActions(["removeToast", "setTimer", "removeTimer"]),
    onClick() {
      this.removeToast(this.id);
    },
    onMouseEnter() {
      this.removeTimer(this.id);
    },
    onMouseLeave() {
      this.setTimer({
        id: this.id,
        duration: this.duration,
      });
    },
  },
};
</script>

<style scoped>
.toastbox {
  width: 30rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  height: 0;
}
</style>
