<template>
  <div class="toast-container">
    <ToastBox
      v-for="{ id, message } in toastList"
      :key="id"
      :id="id"
      :message="message"
      :duration="duration"
      :color="color"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";

import ToastBox from "./ToastBox.vue";

export default {
  name: "Toast",
  props: {
    duration: {
      type: Number,
      default: 5000,
      validator(value) {
        return value >= 0;
      },
    },
    color: {
      type: String,
      default: "#0091E6",
    },
  },
  components: {
    ToastBox,
  },
  computed: {
    ...mapState(["toastList"]),
  },
};
</script>

<style scoped>
.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
}
</style>
