<template>
  <div id="app">
    <button class="add-button" @click="addToast('This is a toast message')">add</button>
    <Toast :duration="3000" />
  </div>
</template>

<script>
import { mapActions } from "vuex";

import Toast from "@/components/Toast.vue";

export default {
  name: "App",
  components: {
    Toast,
  },
  methods: {
    ...mapActions(["addToast"]),
  },
};
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 7.5rem;
  height: 200vh;
}

.add-button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
</style>
